<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neopal</title>
    <link rel="stylesheet" href="../public/styles/styles.css">
    <style>
        img {
            width: 400px;
            height: 400px;
            object-fit: cover;
            border-radius: 3px;
        }
        h1 {
            font-size: 34px;
            color:blueviolet;
            font-weight: 400;
        }
    </style>
</head>
<body>
    <div>
        <img src="img/neopal.jpg" alt="neopal">
    </div>
    <h1>Hello there {{name}}</h1>
</body>
</html>